.item {
    height: 80vh;
    margin: 0 auto;
    background: url("img/sunny.svg");
    width: 500px;
    max-width: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 60px 0 60px 0;
    padding: 40px;
}
.item--rain {
    background-image: url("img/rainny.svg");
}
.item--snow {
    background-image: url("img/snow.svg");
}
.item--cloudy {
    background-image: url("img/cloudy.svg");
}
 input {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    width: 90%;
    height: 35px;
    border-radius: 30px 0 30px 0;
    border: 3px solid snow;
    outline: none;
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    font-weight: bold;

 }
input::placeholder {
    color: #000;
}
.country {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}